* {
    margin: 0;
    padding: 0;
    cursor: url('/images/cursor/player1.png'), auto;
}

html{
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

.choose-character{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.charSelContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 10px;
    width: 55%;
}

.character-profile{
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding-top: 30px;
}

.left-player, .right-player{
    display: flex;
    justify-content: center;
    padding: 5px;
    width: 40%;
}

.character-grid{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    width: 100%;
}

.character{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.charImage{
    display: flex;
    flex-flow: column;
    align-items: center;
    grid-row: 1/2;
}

.character-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
    border-radius: 10px;
}

.full-size-player{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.character:hover{
    transform: scale(1.1);
}
/* .character:hover .character-thumbnail,
.character:focus .character-thumbnail {
    transform: scale(1.1);
} */

.charName{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 ;
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(241, 88, 88);
    font-size: 19px;
}

.start-button{
    color: aquamarine;
}

footer{
    position: fixed;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 0; /* absolutely positioned at bottom of page */
}