@font-face {
    font-family: 'Lilita One';
    src: url('./fonts/LilitaOne-Regular.ttf');
}

body{
    margin: 0;
    padding: 0;
    cursor: url('/images/cursor/player1.png'), auto;
    /* document.body.style.cursor="help"; */
}

html{
    min-height: 100vh;
    min-height: -webkit-fill-available;
}

h2{
    display: flex;
    justify-content: center;
    align-items: center;
}

.titleScreen{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
}

.choose-character{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.charSelContainer{
    display: flex;
    flex-flow: row;
    align-items: center;
    padding: 20px 10px;
}

.charSelTitle{
    text-align: center;
    font-size: 3rem;
    font-family: 'Lilita One';
}

.character-profile{
    display: grid;
    grid-template-columns: repeat(3, minmax(36px, 356px));
    justify-content: center;
    align-items: center;
    width: 100%;
    padding-top: 5px;
}

.player1:hover{
    transform: scale(1.15);
    cursor: url('/images/cursor/player1.png'), auto;
}

.player2:hover{
    transform: scale(1.15);
    cursor: url('/images/cursor/player2.png'), auto;
  
}

.player1, .player2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40%;
    height: 30px;
    text-align: center;
    font-size: 1.5rem;
    font-family: 'Lilita one';
    height: 2.8rem;
}

.player1:hover,
.player2:hover{
    font-weight:normal;
}

.left-player, .right-player{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    object-fit: contain;
    padding: 5px;
    gap: 30px;
}

.character-grid{
    display: grid;
    grid-template-columns: repeat(8, minmax(120px, 100px));
    grid-template-rows: repeat(auto-fill, minmax(120px, 100px));
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    width: 100%;
}

.character{
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: 3fr 1fr;
    justify-content: center;
    align-items: center;
    /* border: 1px solid black; */
}

.charImage{
    display: flex;
    flex-flow: column;
    align-items: center;
    grid-row: 1/2;
}

.character-thumbnail{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    height: 100px;
    border: 0.5px solid black;
    border-radius: 10px;
}

.full-size-player{
    display: flex;
    justify-content: center;
    object-fit: contain;
    height: 300px;
    width: 300px;
}

.readyToFight{
    display: flex;
    justify-content: center;
    width: 300px;
    height: 300px;
}

.character:hover{
    transform: scale(1.1);
}

.character-thumbnail:hover{
    -webkit-border-radius: 5px rgba(255, 0, 0, 0.67);
    -moz-border-radius: 5px rgba(255, 0, 0, 0.67);
    border-radius: 5px rgba(255, 0, 0, 0.67);
    -webkit-box-shadow: 0px 0px 30px 0px rgba(255, 0, 0, 0.67);
    -moz-box-shadow:    0px 0px 30px 0px rgba(209, 230, 209, 0.67);
    box-shadow:         0px 0px 30px 0px rgba(255, 38, 0, 0.67);
}

.charName{
    grid-row: 2/3;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1 ;
    color: black;
    -webkit-text-stroke-width: 0.5px;
    -webkit-text-stroke-color: rgb(241, 88, 88);
    font-size: 19px;
}

.start-button{
    color: aquamarine;
}

footer{
    position: fixed;
    width: 100%;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    bottom: 0; /* absolutely positioned at bottom of page */
    cursor: url('/images/cursor/player1.png'), auto;
}
